body{
    width: 95%;
    max-width: 800px;
    margin: auto;
    font-family: 'Courgette',cursive,'Times New Roman', Times, serif;
    line-height: 1.5;
    
    
    background: url('img/redblack.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#f3f2f2;    
}
main{ 
    background-color:#0000006b;
    padding: 5px 40px;  
    margin-top: 20px;
    border-radius: 40px;
}
h1{  
        font-family: 'Gloria Hallelujah','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #a5100e;
        text-shadow: +3px +2px black;
}
.logo, .titulo{
    text-align: center;  
}

