body{
    width: 95%;
    max-width: 800px;
    margin: auto;
    font-family: 'Courgette',cursive,'Times New Roman', Times, serif;
    line-height: 1.5;
    
    
    background: url('img/redblack.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#f3f2f2;    
}
main{ 
    background-color:#0000006b;
    padding: 5px 40px;  
    margin-top: 20px;
    border-radius: 40px;
}
h1{  
        font-family: 'Gloria Hallelujah','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #a5100e;
        text-shadow: +3px +2px black;
}
.logo, .titulo{
    text-align: center;  
}

.botão{
    padding: -1px -3px;  
    margin-top: 10px;
    
    
    margin: auto;
    box-align: auto center; 
    
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 318px;
    cursor: pointer;
    border-radius: 5px;
    box-align: auto center;
}
.button:hover {
    background-color: #fff;
    color:#777;
    box-shadow: 0 2px 3px #777
}

